/ir_RS/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/.idea
/.cache/
/ir_TNO/

/.history/
/.idea/
/.ipynb_checkpoints/
/.vscode/
/DLPan-Toolbox/
/log_file/
/loss_landscape/
/matlab_metrcis/
/media/
/train_status/
/visualized_img/
/weight/
/saliency/
/.aim/
/runs/
/Matlab-Test-Package/

HyperSpectralToolbox/
fc-former.zip
_test.py
nohup.out