/ir_RS/
/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/__pycache__/
/*.zip
/.idea
/.cache/
/ir_TNO/
/*/*/*/*.so
/*/*/*/*.o
/*/*/*/*.ninja
/*/*/*/*/*.pyc
/.cache/
/.hypothesis/


/.history/
/.idea/
/.ipynb_checkpoints/
/DLPan-Toolbox/
/log_file/
/loss_landscape/
/matlab_metrcis/
/train_status/
/visualized_img/
/weight/
/saliency/
/.aim/
/runs/

HyperSpectralToolbox/
fc-former.zip
_test.py
nohup.out
HyperSpectralToolbox
